<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ site.title.long }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ 'assets/images/uofm.jpg' | absolute_url }}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">

  {% if page.title %}<title>{{ page.title }} | {{ site.title.short }}</title>
  {% else %}<title>{{ site.title.long }}</title>{% endif %}
  <link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/custom.css' | absolute_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
  {% if site.gtag %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "{{ site.gtag }}");
    </script>
  {% endif %}
</head>
