<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">{{ site.title.short }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.sitemap %}
      {% if item.children %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for child in item.children %}
          <a class="dropdown-item" href="{{ child.url }}">{{ child.title }}</a>
          {% endfor %}
        </div>
      </li>
      {% elsif item.url == page.url %}<li class="nav-item active"><a class="nav-link" href="{{ item.url }}">{{ item.title }} <span class="sr-only">(current)</span></a></li>
      {% else %}<li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
    <span class="navbar-text">
      {% if site.social.slack %}<a href="//{{ site.social.slack }}.slack.com" title="{{ site.social.slack }} on Slack"><i class="fab fa-slack fa-lg"></i></a>{% endif %}
      {% if site.social.github %}<a href="//github.com/{{ site.social.github }}" title="{{ site.social.github }} on GitHub"><i class="fab fa-github fa-lg"></i></a>{% endif %}
      {% if site.social.twitter %}<a href="//twitter.com/{{ site.social.twitter }}" title="{{ site.social.twitter }} on Twitter"><i class="fab fa-twitter fa-lg"></i></a>{% endif %}
    </span>
  </div>
</nav>
