---
---

$body-bg: #fff;
$theme-colors: (
  "primary": rgb(161, 95,	251),
  "danger": #ff4136
);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

.team-member-item {
  min-width: 200px;
  max-width: 200px;
  padding: .5em;
}
  .team-member-item img {
    max-height: 150px;
    max-width: 150px;
  }

section.featured {
  width: 100%;
  height: 75vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55)
  ), url("../images/involved.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
  section.featured .row {
    margin: auto;
    color: white;
    max-width: 450px;
    text-align: center;
    padding: 25vh 0 25vh 0;
  }

.featured {
  padding: 2em;
}
  .featured h2 {
    padding-bottom: .8em;
    color: #fff;
  }

.rounded-container {
  padding: 15px;
  border-radius: 1em;
}

@import 'bootstrap/scss/bootstrap';
