---
---

$body-bg: #fff;
$theme-colors: (
  "primary": rgb(161, 95,	251),
  "danger": #ff4136
);

html {
  position: relative;
  min-height: 100%;
}

body, main {
  padding: 0;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.team-member-item {
  min-width: 200px;
  max-width: 200px;
  padding: .5em;
}
  .team-member-item img {
    max-height: 150px;
    max-width: 150px;
  }
  .team-member-item:hover {
    background-color: #f8f9fa;
  }

section.featured {
  width: 100%;
  height: 75vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55)
  ), url("../images/involved.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
  section.featured .row {
    margin: auto;
    color: white;
    max-width: 450px;
    text-align: center;
    padding: 25vh 0 25vh 0;
  }

@import 'bootstrap/scss/bootstrap';
